/* Landing page */
.radial-background {
  background-image: radial-gradient(
      97% 21% at 85% 22%,
      #71d16c 0,
      transparent 50%
    ),
    radial-gradient(40% 70% at 50% 99%, #f15e6d 0, transparent 50%),
    radial-gradient(40% 29% at 20% 29%, #d771f1 0, transparent 50%),
    radial-gradient(97% 96% at 97% 96%, #dbb26b 0, transparent 50%),
    radial-gradient(40% 80% at 15% 80%, #f1ddb8 0, transparent 50%),
    radial-gradient(50% 30% at 70% 45%, #eea5ba 0, transparent 50%);
}

.nav-shadow {
  box-shadow: 0 2px 6px 0 #63636333;
}

.feature-tab {
  overflow: hidden;
}

.feature-tab::after {
  content: "";
  position: absolute;
  bottom: -25rem;
  left: -15rem;
  height: 40rem;
  width: 40rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  clip-path: circle(50% at 50% 50%);
}

.mobile-feature {
  position: relative;
  overflow: hidden;
  background-position: left 30% bottom;

  @media only screen and (min-width: 768px) {
    background-position: left 45% bottom 2rem;
  }
}

.mobile-feature::after {
  content: "";
  position: absolute;
  bottom: -12rem;
  left: -8rem;
  height: 20rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  clip-path: circle(50% at 50% 50%);
}

/* Animation */
.init-fade {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Finance */
.finance-layout {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;

  @media (min-width: 768px) {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1536px) {
    padding-top: 74px;
  }
}

/* Penny */
.ol-adjust ul {
  padding-left: 0.5rem;
}

.chat-content > :only-child {
  margin-bottom: 0rem;
}
