.rdp-button {
  border: none;
}

.rdp-button.checked::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 6px;
  border-radius: 9999px;
  background-color: #0d9488;
}

.rdp-button[aria-selected="true"].checked::after {
  background-color: white;
}

.rdp-button[aria-selected="true"] {
  background-color: #0d9488;
  color: white;
}

.react-datepicker__day--outside-month {
  color: transparent !important;
  pointer-events: none;
}
